<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="word-spacing:normal;background-color:#afafaf">
        <div style="background-color:#afafaf">
            <div style="background:#5e1f89;background-color:#5e1f89;margin:0px auto;max-width:600px">
                <a href="http://localhost:5173/"><img style="width: 50px; margin-left: 1rem;" src="https://i.ibb.co/kmnJgkQ/LOGO.png" alt="LOGO" border="0"> </a>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="direction:ltr;font-size:0px;padding:0px;padding-bottom:20px;padding-top:20px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-60"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:0px;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:15px;line-height:1;text-align:left;color:#000000">
                                                                        Dear User,<br><br>
                                                                        <p>You have been invited into a workspace
                                                                            created by <%=workspaceOwner.fname%>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m_3360098509049304992mj-column-per-40"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="font-size:0px;padding:0px;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:auto"><img
                                                                                        alt="Sailing" height="auto"
                                                                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/c265cd75846759.5c5890e46bea3.png"
                                                                                        style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                                        width="190" class="CToWUd a6T"
                                                                                        data-bit="iit" tabindex="0">
                                                                                    <div class="a6S" dir="ltr"
                                                                                        style="opacity: 0.01; left: 873.667px; top: 258.562px;">
                                                                                        <div id=":pi"
                                                                                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            role="button" tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc2Mjg1NDkxMzY0MTg1MTI1MCIsbnVsbCxbXV0."
                                                                                            data-tooltip-class="a1V"
                                                                                            data-tooltip="Download">
                                                                                            <div class="akn">
                                                                                                <div
                                                                                                    class="aSK J-J5-Ji aYr">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>

                                                                                    <div
                                                                                        style="display: flex; justify-content: space-around;">

                                                                                        <a href="<%=base_url>/workspace/acceptInvite/<%=encryptedEmail%>/<%=workspaceId%>"><button
                                                                                            style="background-color: green ; color: white; padding: 1rem;cursor: pointer; ">Accept
                                                                                            the Invitation</button></a>


                                                                                        <a href="<%=base_url>/workspace/rejectInvite/<%=encryptedEmail%>/<%=workspaceId%>"><button
                                                                                            style="background-color: rgb(186, 33, 33) ; color: white; padding: 1rem; cursor: pointer ">Reject
                                                                                            the Invitation</button></a>


                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:20px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-100"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:15px;line-height:1.2;text-align:left;color:#000000">
                                                                        <strong>Here's what happens next:</strong>If you want to join the shared workspace click the accept button and you will be redirected to the workspace if you have a registered account or you will be redirected to a registeration page where you will have to register an account 
                                                                        <br><br><strong>Not Interested ?</strong> Please feel free to reject the invitation
                                                                            <br><br>Do
                                                                        not share or forward this Invitation link with anyone else 
                                                                        anyone.<br><br>Regards,<br><strong>Pheonix trek
                                                                            Team</strong>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
       
        </div>
    </div>

</body>

</html>